<form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
    [formGroup]="registerForm">

    <div class="h2 mb-24">Agregar Remuneracion</div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <mat-form-field fxFlex="25" >
            <input matInput  placeholder="DNI" readonly formControlName="codemp" style="background: gainsboro;">
        </mat-form-field>
        

        <mat-form-field fxFlex="25" >
            <input matInput placeholder="Nombre"  readonly formControlName="nombre" style="background: gainsboro;">
        </mat-form-field>

        <mat-form-field fxFlex="15">
            <input matInput placeholder="cc" formControlName="cc">
        </mat-form-field>

        <mat-form-field fxFlex="15">
            <input matInput placeholder="descc" formControlName="descc">
        </mat-form-field>

        
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <!-- <mat-form-field fxFlex="50">
            <input matInput placeholder="tipo ingreso/descto" formControlName="codctacte">
        </mat-form-field> -->

        <mat-form-field fxFlex="14">
            <mat-select formControlName="codctacte" class="form-control" placeholder="tipo"
                        [(value)]="selectedmon">
                <mat-option class="pantallafiltro" *ngFor="let mon of opctipo" [value]="mon.codigo">{{mon.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="50">
            <input matInput placeholder="descripcion" formControlName="desctacte">
        </mat-form-field>

        <mat-form-field fxFlex="30">
            <input matInput placeholder="importe" formControlName="importe">
        </mat-form-field>
    </div>
   
    
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-form-field fxFlex="50">
            <input matInput placeholder="turno" formControlName="turno">
        </mat-form-field>
        <mat-form-field fxFlex="33">
            <input #inputs matInput type="date" formControlName="fechaini" class="form-control"
                   placeholder="Fecha Inicial"/>
        </mat-form-field>

        <mat-form-field fxFlex="34">
            <input #inputs matInput type="date" formControlName="fechafin" class="form-control"
                   placeholder="Fecha Fin"/>
        </mat-form-field>
    </div>
    <div fxLayout="row" class="crud-buttons" fxLayoutAlign="start center">
        <button (click)="onBack()" mat-raised-button class="mat-primary">Volver</button>
        <button (click)="saveEmpleados()" mat-raised-button [disabled]="registerForm.invalid" class="mat-accent">
            Guardar
        </button>
    </div>
</form>