<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">

                </span>
            </div>


            <div class="px-16" fxLayout="row" fxLayoutAlign="space-between center">


                <mat-form-field>

                    <mat-select [formControl]="listaReportesControl" class="simplified" value="A1">

                        <mat-option *ngFor="let lista of listaReportes" [value]="lista">{{ lista.name }}</mat-option>

                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field fxFlex="22">
                    <input #inputs matInput type="date" class="form-control"/>
                </mat-form-field>
                <mat-form-field fxFlex="22">
                    <input #inputs matInput type="date" class="form-control"/>
                </mat-form-field>
                <button mat-raised-button class="mat-raised-button mat-warn" color="warm">VISUALIZAR REPORTE</button> -->

                <div class="crud-buttons">

                    <button mat-mini-fab [matMenuTriggerFor]="menu" color="accent">
                        <mat-icon>print</mat-icon>
                    </button>
                    <button mat-mini-fab color="accent">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>


                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Previo</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>file_copy</mat-icon>
                        <span>Excel</span>
                    </button>
                </mat-menu>
            </div>


        </div>

        <div class="content">
            <img src="/src/assets/images/logos/logo.jpg">
        </div>
        <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>


            <!-- CONTENT -->
            <div class="content mat-elevation-z4">

                <div class="my-mat-row" fxLayout="row" fxLayoutAlign="space-between center">


                    <table *ngIf="data && headers && reporteSelected && !reporteSelected.expandable"
                           class="simple clickable">
                        <thead>
                        <tr>
                            <th *ngFor="let header of headers">{{ header }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of data">
                            <td *ngFor="let header of headers">{{ row[header] }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <app-table-expandable fxFlex="100"
                                          *ngIf="data && headers && reporteSelected && reporteSelected.expandable"
                                          [columnsToDisplay]="headers"
                                          [dataSource]="data"
                                          [expandedTemplate]="expandedTemplate"></app-table-expandable>
                    <div class="card-divider full-width"></div>


                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CENTER -->

        </div>
        <!-- / CONTENT-->

    </div>
</div>

<ng-template #expandedTemplate let-element="element">
    <table *ngIf="element" class="p-32 simple clickable">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ element.codigo  }}</td>
            <td>{{ element.description  }}</td>
            <td>{{ element.cantidad  }}</td>
        </tr>
        </tbody>
    </table>
</ng-template>