<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <div class="header accent" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div fxFlex="30">
            <mat-select [formControl]="listaRepoempleaControl" class="simplified">
                <mat-option *ngFor="let lista of tareo" [value]="lista">{{ lista.nombre }}</mat-option>
            </mat-select>
        </div>

        <div fxFlex="35">
            <button fxFlex="40" mat-raised-button class="mat-raised-button mat-accent"
                (click)="repoemplea_visualizar()">GENERAR
            </button>

        </div>
        <div class="crud-buttons" fxLayout="row" fxLayoutAlign="start center">
            <button mat-mini-fab (click)="print_pdf()" color="accent">
                <mat-icon>get_app</mat-icon>
            </button>
            <button mat-mini-fab color="accent">
                <mat-icon>print</mat-icon>
            </button>
        </div>
        <!-- / SEARCH -->
        <div class="content">
            <img src="assets/images/logos/fuse.svg" height="350" width="95">
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content">

        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="loading" *ngIf="loading">
                <fuse-progress-bar mode="indeterminate"></fuse-progress-bar>
                <!-- <img src="assets/images/logos/loader.gif"> -->
            </div>
            <!-- CONTENT -->

            <div class="content mat-elevation-z4">
                <div class="my-mat-row" fxLayout="row" fxLayoutAlign="space-between center">

                    <table class="simple clickable">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Turno</th>
                                <th>Sueldo</th>
                                <th>Hrs Extras</th>
                                <!-- <th>Rotativa</th>
                                <th>Inyectoria</th> -->
                                <th>LUNES</th>
                                <!-- <tr>
                                    <th>hrs</th>
                                    <th>imp</th>
                                </tr> -->
                                <th>MARTES</th>
                                <th>MIERCOLES</th>
                                <th>JUEVES</th>
                                <th>VIERNES</th>
                                <th>SABADO</th>
                                <th>Hrs Extras</th>
                                <th>TOTAL</th>

                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td>{{ item.codigo}}</td>
                                <td>{{ item.nombre}}</td>
                                <td>{{item.turno}}</td>
                                <td>{{item.sueldo}}</td>
                                <td>0.00</td>
                                <td>{{item.dia1}}</td>
                                <td>{{item.dia2}}</td>
                                <td>{{item.dia3}}</td>
                                <td>{{item.dia4}}</td>
                                <td>{{item.dia5}}</td>
                                <td>{{item.dia6}}</td>
                                <td>{{item.dia7}}</td>
                                <td>{{item.total}}</td>
                            </tr>
                        </tbody>


                        <tfoot>
                            <tr>
                                <th>TOTALES</th>
                                <th></th>
                                <th></th>
                                <th>Sueldo</th>
                                <th>Hrs Extras</th>
                                <!-- <th>Rotativa</th>
                                <th>Inyectoria</th> -->
                                <th>LUNES</th>
                                <!-- <tr>
                                    <th>hrs</th>
                                    <th>imp</th>
                                </tr> -->
                                <th>MARTES</th>
                                <th>MIERCOLES</th>
                                <th>JUEVES</th>
                                <th>VIERNES</th>
                                <th>SABADO</th>
                                <th>Hrs Extras</th>
                                <th>TOTAL</th>
        
                            </tr>
                        </tfoot>

                    </table>

                    <div class="card-divider full-width">

                               
                    
            
                    </div>



                </div>
                <!-- / CONTENT -->
                
            </div>
            <!-- / CENTER -->
       
        </div>
        <!-- / CONTENT-->
        
    </div>
</div>


<footer>
   

       
   
</footer>