<div id="clientes" fxLayout="column">
    
    <toolbar-table [title]="'Importa Horario'" 
    (inputText)="applyFilter($event)" 
    (fileSelected)="setFileSelected($event)"
    [hidden]="edit">
    </toolbar-table>

    <div fxFlex [hidden]="edit">
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <mat-header-cell  fxFlex="50px" *matHeaderCellDef>
                    
                </mat-header-cell>
                <mat-cell  fxFlex="50px" *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="codemp">
                <mat-header-cell fxFlex="80px" *matHeaderCellDef> CODIGO</mat-header-cell>
                <mat-cell fxFlex="80px" *matCellDef="let element"> {{element.codemp}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <mat-header-cell fxFlex="350px" *matHeaderCellDef> DESCRIPCIÓN</mat-header-cell>
                <mat-cell fxFlex="350px" *matCellDef="let element"> {{element.nombre}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaini">
                <mat-header-cell fxFlex="100px" *matHeaderCellDef> FECHA INI</mat-header-cell>
                <mat-cell fxFlex="100px" *matCellDef="let element"> {{element.fechaini}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="hrentrada">
                <mat-header-cell fxFlex="80px" *matHeaderCellDef> HORA DE ENTRADA</mat-header-cell>
                <mat-cell fxFlex="80px" *matCellDef="let element"> {{element.hrentrada}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="hrinidesc">
                <mat-header-cell fxFlex="80px" *matHeaderCellDef> INICIO DESCANSO</mat-header-cell>
                <mat-cell fxFlex="80px" *matCellDef="let element"> {{element.hrinidesc}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="hrfindesc">
                <mat-header-cell fxFlex="80px" *matHeaderCellDef> FIN DESCANSO</mat-header-cell>
                <mat-cell fxFlex="80px" *matCellDef="let element"> {{element.hrfindesc}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="hrsalida">
                <mat-header-cell fxFlex="80px" *matHeaderCellDef> HORA DE SALIDA</mat-header-cell>
                <mat-cell fxFlex="80px" *matCellDef="let element"> {{element.hrsalida}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="options">
                <mat-header-cell fxFlex="80px"*matHeaderCellDef> Options</mat-header-cell>
                <mat-cell fxFlex="80px" *matCellDef="let row">
                    <app-action-icons (edit)="editRecord(row.id)" (remove)="delete(row.id)"></app-action-icons>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row
                (click)="selectedId = row.id"
                *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{ 'highlight': row.id === selectedId }">
            </mat-row>

        </mat-table>
    </div>
    <div fxFlex>
        <mat-paginator [showFirstLastButtons]="true" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100, 500]">
        </mat-paginator>
    </div>
    <mat-divider></mat-divider>
    <div fxFlex [hidden]="!edit">
        <app-edittareodetalle [nombreMaster]="nombreMaster" [codempMaster]="codempMaster" [id]="selectedId" (back)="showDataTable()"
                            (update)="updateDataTable($event)"></app-edittareodetalle>
    </div>
</div>
