<form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
    [formGroup]="registerForm">

    <div class="h2 mb-24">Agregar Tareo</div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        <mat-form-field fxFlex="25" >
            <input matInput  placeholder="DNI" readonly formControlName="codemp" style="background: gainsboro;">
        </mat-form-field>
        

        <mat-form-field fxFlex="25" >
            <input matInput placeholder="Nombre"  readonly formControlName="nombre" style="background: gainsboro;">
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex="60">
            <input #inputs matInput placeholder="Fecha" formControlName="fechaini">
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <input matInput placeholder="Hra Entrada" formControlName="hrentrada">
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <input matInput placeholder="Hra ini Desc" formControlName="hrinidesc">
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <input matInput  placeholder="Hra fin Desc" formControlName="hrfindesc">
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <input matInput  placeholder="Hra salida" formControlName="hrsalida">
        </mat-form-field>
    </div>
     
     <div class="crud-buttons" fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto">
        <button (click)="onBack()" mat-raised-button class="mat-primary">Volver</button>
        <button (click)="saveTareo()" mat-raised-button [disabled]="registerForm.invalid" class="mat-accent">
            Guardar
        </button>
    </div>
</form>