footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-top: 0.5px solid;
    padding: 0px 5px;
    background-color:whitesmoke;
    font-size: 1.0em;
    font-family: 'Helvetica';
    div {
        text-align: right;
        padding: 0px 5px;
        font-size: 11px;
        
            mat-select{
                font-size: 11px;
            }
    }
   
}
mat-form-field{
    font : 400 11px/1.125 Roboto, "Helvetica Neue", sans-serif;
}
