<mat-toolbar >
 
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs >
            <a mat-button >{{ year }}</a>
            &nbsp;
            <mat-form-field >
                <mat-select [formControl]="monthControl" >
                    <mat-option *ngFor="let month of months; let i=index" [value]="i">{{ month }}</mat-option>
                </mat-select>
            </mat-form-field>
            <!--span>&bull;</span-->
            &nbsp;
            <!--a mat-button >Changelog</a-->
            <mat-form-field >
                <mat-select [formControl]="menuControl">
                    <mat-option *ngFor="let item of items" [value]="item.path">{{ item.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


    </div>

</mat-toolbar>

